numpy
pandas
wget
tqdm
pyjnius>=1.4.2
matchpy
sklearn
deprecation
git+https://github.com/s-t-e-v-e-n-k/chest.git@python-310-support#egg=chest
scipy
requests
joblib
nptyping==1.4.4
more_itertools
ir_datasets>=0.3.2
jinja2
statsmodels
ir_measures>=0.3.1
dill
pytrec_eval_terrier>=0.5.3
