numpy
pandas
wget
tqdm
pyjnius>=1.4.2
matchpy
scikit-learn
deprecated
chest
scipy
requests
joblib
nptyping==1.4.4
more_itertools
ir_datasets>=0.3.2
jinja2
statsmodels
ir_measures>=0.3.1
dill
pytrec_eval_terrier>=0.5.3
