#Sphinx 8 is needed until https://github.com/domdfcoding/enum_tools/issues/118 is fixed
Sphinx<9
myst_parser
furo
sphinx-autodoc-typehints<3.6
tabulate
sphinx-tabs
enum-tools[sphinx]
bibtexparser~=1.0
pylatexenc
sphinx-togglebutton
sphinx-reredirects
sphinx-design
