name: style

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  flake8:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install
      run: |
        pip install flake8 ./extras/pyterrier-flake8-ext/

    - name: pt.java.required checks
      run: |
        flake8 ./pyterrier --select=PT --show-source --statistics --count

  mypy:
    # mypy results differ based on the python version, so run on multiple ones
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.13']

    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    # follows https://medium.com/ai2-blog/python-caching-in-github-actions-e9452698e98d
    - name: Loading Python & dependencies from cache
      if: matrix.os != 'self-hosted'
      uses: actions/cache@v4
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-test.txt') }}

    - name: Install
      run: |
        pip install --upgrade -r requirements.txt -r requirements-test.txt
        pip install -e '.[all]'

    - name: MyPy
      run: 'mypy pyterrier'

  ruff:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    # follows https://medium.com/ai2-blog/python-caching-in-github-actions-e9452698e98d
    - name: Loading Python & dependencies from cache
      if: matrix.os != 'self-hosted'
      uses: actions/cache@v4
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-test.txt') }}

    - name: Install
      run: |
        pip install --upgrade -r requirements.txt -r requirements-test.txt
        pip install -e '.[all]'

    - name: Ruff
      run: 'ruff check --output-format=github pyterrier'
