name: style

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  flake8:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install
      run: |
        pip install flake8 ./extras/pyterrier-flake8-ext/

    - name: pt.java.required checks
      run: |
        flake8 ./pyterrier --select=PT --show-source --statistics --count

  mypy:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install
      run: |
        pip install mypy --upgrade -r requirements.txt -r requirements-test.txt
        pip install -e .

    - name: MyPy
      run: 'mypy pyterrier'

  ruff:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install
      run: |
        pip install --upgrade -r requirements.txt -r requirements-test.txt
        pip install -e .

    - name: Ruff
      run: 'ruff check --output-format=github pyterrier'
