name: Continuous Testing of Parallel Components

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    
    strategy:
      matrix:
        python-version: ['3.9', '3.12']
        java: [11, 13]
        os: ['ubuntu-latest']
        terrier: [''] # blank indicates latest

    runs-on: ${{ matrix.os }}
    steps:

    - name: Setup dependencies for xgBoost on macOs-latest
      if: matrix.os == 'macOs-latest'
      run: |
        brew install libomp

    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      if: matrix.os != 'self-hosted'
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Setup java
      if: matrix.os != 'self-hosted'
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'
    
    - name: Install Terrier snapshot
      if: matrix.terrier == '5.4-SNAPSHOT'
      run: |
        git clone https://github.com/terrier-org/terrier-core.git
        cd terrier-core
        mvn -B -DskipTests install

    # follows https://medium.com/ai2-blog/python-caching-in-github-actions-e9452698e98d
    - name: Loading Python & dependencies from cache
      if: matrix.os != 'self-hosted'
      uses: actions/cache@v4
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-test.txt') }}

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --upgrade-strategy eager -r requirements.txt
        pip install --upgrade --upgrade-strategy eager -r requirements-test.txt
        #install this software
        pip install --timeout=120 .

    - name: All unit tests
      env:
        TERRIER_VERSION: ${{ matrix.terrier }}
        PARALLEL_TESTING: '1'
      run: |
        pytest --durations=20 -p no:faulthandler tests/test_grid.py tests/test_grid.py tests/test_parallel.py tests/test_pool.py

